ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: x-large;
  font-weight: 500;
}
.apple {
  color: brown;
}
.banana {
  color: yellow;
}
.grapes {
  color: blueviolet;
}
